.quiz-container{
    border: rgb(101, 99, 99)  ;
    background-color: whitesmoke;
    gap: 10px;
   margin: 50px;
   border-radius: 50px;
   padding: 20px;
}
.quiz-container img{
    width: 340px;
}
.quiz-text-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}